@charset "utf-8";

.top{
	width: 100%;
	height: 70px;
	background-color: grey;
	position: relative;
	z-index: 999;

}
.top .top_in{
	width: 100%;
	height: 70px;

	float: right;

}
.top .top_left{
	margin-top: 20px;
	margin-left: 10%;
	display: inline-block;
	float: left;
	height: 70px;
	width: 20%;

	background: url("../images/logo-main.png") no-repeat ;
}
.top .top_left>h1{
	width: 100%;
	height: 100%;
}
.top .top_left>h1>a{
	display: inline-block;
	height: 100%;
	width: 100%;
	text-align: center;
	/*background: url("../images/logo.png") no-repeat ;*/
	background-size: 190px 70px;

}
.top .top_right{
	float: right;
	height: 60px;
	width: 70%;
	display: inline-block;



}
.top .top_nav{
	width: 55%;
	height: 100%;
	float: left;



}
.top .top_nav>li{
	float: left;
	margin-left: 15px;


}
.top .top_nav>li>a{
	font-size: 16px;
	font-weight: bold;
	color: #122b40;
	line-height: 70px;
	text-align: center;


}
.top .top_login{
	float: right;
	width: 150px;
	height: 100%;
	padding-right: 25px;
}
.top .top_login>li{
	float: right;
	line-height: 60px;
	margin-left: 10px;
}
.top .top_login>li:nth-child(3){
	width: 30px;
	height: 30px;
	background:url("../images/yonghu.png");
	background-size: 30px 30px;
	margin-top: 15px;
}
.top .top_login>li>a{
	color: #ccc;
}
.top-nav {
	background-color: #353535;
	color: #EEEEEE;
	padding: 10px 0;
}

.nav-list li {
	float: left;
	padding: 0 10px;
}

.nav-list li a {
	color: #EEEEEE;
}

.header {
	padding: 18px 0;
	background-color: #2b2b2b;
}

.search-box {
	margin-left: 100px;
	padding-top: 6px;
	/*标志参照物*/
	position: relative;
}

.search-input {
	border: 0;
	padding: 8px 12px;
	border-radius: 3px;
	width: 298px;
}

.icon {
	background: url(/img/iconList.png) no-repeat;
	display: inline-block;
}

.icon-zoom {
	position: absolute;
	right: 8px;
	top: 11px;
	width: 22px;
	height: 22px;
	background-position: -134px -49px;
}

.user-nav {
	overflow: hidden;
	padding-top: 12px;
}

.user-nav li {
	float: left;
	margin: 0 16px;
	font-size: 14px;
	position: relative;
}

.user-nav li a>b {
	position: absolute;
	right: -19px;
	top: -6px;
	background-color: #ff9000;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	text-align: center;
	line-height: 16px;
}

.user-nav li a {
	color: #FFFFFF;
}

.user-nav li a>span {
	vertical-align: middle;
}

.user-nav li a>i {
	vertical-align: middle;
}

.icon-user {
	width: 22px;
	height: 24px;
	background-position: -194px -0;
}

.icon-bill {
	width: 20px;
	height: 24px;
	background-position: -219px 0;
}

.icon-cart {
	width: 23px;
	height: 23px;
	background-position: -242px 0;
}

.icon-chat {
	width: 22px;
	height: 22px;
	background-position: -287px 0;
}

.nav-box {
	overflow: hidden;
}

.nav-box li {
	float: left;
	margin: 8px 31px;
	font-size: 16px;
}

.nav-box li a {
	color: #2B2B2B;
}

.nav-box li a:hover {
	color: #ff9000;
}


/*banner*/

.banner {
	background: url("../images/banner.jpg") no-repeat top center;
	height: 450px;
}
.container-product{
	width: 1070px;
	height: 420px;
	margin-top:40px;
}
.container-product ul{
	overflow: hidden;
}
.container-product ul li{
	float: left;
	font-size: 16px;
	line-height: 16px;
	color: #8a8a8a;
	margin-top: 16px;
}
.container-product ul h1{
	float: left;
	font-size: 32px;
	line-height: 32px;
	color: #3b3b3b;
	padding-right:16px ;
}
.tran5{
	transition: all 3s;
}
.div1{
	width: 1070px;
	height: 350px;
	overflow: hidden;
	margin-top: 36px;
}
.div2{
	width: 350px;
	height: 350px;
	float: left;
	background-color: rgba(0,0,0,0.1);
	position: relative;
}
.div3{
	width: 350px;
	height: 350px;
	margin-left: 10px;
	float: left;
	background-color: rgba(0,0,0,0.1);
	position: relative;
}
.container-product img{
	width: 100%;
	height: 100%;
}
.div1 .name{
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	color: white;
}
.div1 .course{
	text-align: center;
	margin-top:8px ;
	color: white;
}
.lala{
	padding-bottom:15px ;
	width: 100%;
	position: absolute;
	left: auto;
	bottom: 0;
	background-color: rgba(0,0,0,0.3);
}
.div2:hover img{
	transform: scale(1.1);
}
.div3:hover img{
	transform: scale(1.1);
}
.container-jujia{
	width: 1070px;
	overflow: hidden;
	margin-top: 30px;
}
.container-jujia img{
	width: 100%;
	height: 100%;
}
.container-jujia ul{
	overflow: hidden;
}
.container-jujia ul li{
	float: left;
	font-size: 16px;
	line-height: 16px;
	color: #8a8a8a;
	margin-top: 16px;
}
.container-jujia ul h2{
	float: left;
	font-size: 32px;
	line-height: 32px;
	color: #3b3b3b;
	padding-right:16px ;
}
.div8{
	width: 1070px;
	height: 380px;
	margin-top:25px ;
	overflow: hidden;
	margin-top: 20px;
}
.divleft{
	width: 350px;
	height: 350px;
	float: left;
}
.divright{
	width: 350px;
	height: 350px;
	float: left;
	margin-left:10px ;
}
.div9{
	width: 292px;
	height: 292px;
	background: url(/images/product06.jpg) no-repeat;
}
.div10{
	width: 292px;
	height: 292px;
	background: url(../img/product07.jpg) no-repeat;
}
.div11{
	width: 292px;
	height: 292px;
	background: url(../img/product08.jpg) no-repeat;
}
.div12{
	width: 292px;
	height: 292px;
	background: url(../img/product09.jpg) no-repeat;
}
.div13{
	font-size: 16px;
	line-height: 16px;
	color: #4f4f4f;
	margin-top:13px;
	text-align: center;
}
.div14{
	font-size: 16px;
	line-height: 12px;
	color: #ff9000;
	text-align: center;
	margin-top:13px ;
}
